.tasks {
    h1 {
        text-align: center;
    }
    // .wrapper {
    //     display: block;
    // }
    div.content {
        display: inline-block;
        width: 300px;
        max-height: 24px;
        border: 1px solid #eee;

    }
}